<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntidadesConosud" connectionString="metadata=res://*/ModeloConosudVale.csdl|res://*/ModeloConosudVale.ssdl|res://*/ModeloConosudVale.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=servidorinfo;Initial Catalog=ConosudSitioVale;Persist Security Info=True;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>